<!DOCTYPE html>
<head>
<title>Basic </title>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<style>
body , h1{
  background-color: skyblue;
  text-align: center;
  margin-left: 20px;
}
table,th,tr,td{
    padding: 5px;
    }
table{
    border-spacing: 15px;
     }
</style>
<title>Sign Up</title>
</head>
<body>
  <div><br>
    <h1 style='font-family:Book Antiqua;'><em> Hospital Management System</em></h1>
  </div><br>

    <form method="POST" class="pure-form pure-form-aligned" action="/">
        <h3><em>PLEASE REFER "readme.txt" IN "PROJECT CODE FOLDER" FOR LOGIN CREDENTIALS</em></h3><br>
        <table cellspacing="10"  style=" border: 3px solid black" align="center">
          <tr>
                <th colspan="3" style=" color:#00008B; font-family:Book Antiqua; "><h2><em>Login</em></h2></th>
             </tr>
             {%- for category, message in get_flashed_messages(with_categories = true) %}
                      <div class = "alert alert-danger">
                         {{ message }}
                      </div>
             {%- endfor %}
          <div class="pure-control-group"><tr><th >Username* :</th><td><input type="text" name="username" required/></td></tr>
           <div class="pure-control-group"><tr><th>Password* :</th><td><input type="password" name="password" required/></td></tr>
             <td colspan="3" > <input type="submit" value="  Login  " style="background:#01090C ;color:white; border:none; border-radius:15px;padding:10px" /></td></tr>
             <th colspan="3"> * represents Mandatory Fields</th>
        </table>
          </form>
          <footer  style='font-family:Book Antiqua;padding:10px' align="right"><h3> By K Subash Gupta </h3></footer>
</body>
</html>
