<!doctype html>
<head>
<title>New Patient </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='edits.css') }}">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<style>
footer{
  text-align:center;
  padding:3px;
  color: black;
  }
  body , h1{
    background-color: skyblue;
    text-align: center;
    margin-left: 20px;
  }
  table,th,tr,td{
      padding: 5px;
      }
  table{
      border-spacing: 15px;
       }
</style>
</head>
<body>
  <h1><a style="text_align:center" href = "{{ url_for('home') }}"> Hospital Management System</h1>
<nav>
  <ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Patient</a>
    <div class="dropdown-content">
      <a href="/newpatient">Create patient</a>
      <a href="/updat">Update patient</a>
      <a href="/deletepatient">Delete patient</a>
      <a href="/searchpatient">Search patient</a>
      <a href="/viewpatient">View all patients</a>
    </div>
  </li>
</li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">Pharmacy</a>
  <div class="dropdown-content">
    <a href="/pharmafetch">Medicines Add</a>
  </div>
</li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">Diagnostics</a>
  <div class="dropdown-content">
    <a href="/diagfetch">Diagnostics Add</a>
  </div>
</li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">Bill Payment</a>
  <div class="dropdown-content">
    <a href="/finalbill">Make bill</a>
  </div>
</li>
{% for i in range(24) %}
<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">            </a>
</li>
{% endfor %}
<li class="dropdown">
  <a href="/logout" class="dropbtn"> Logout </a>
</li>
</ul>
</nav>
<h1> Patient Registration </h1>
{%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
{%- endfor %}
<form method="POST" class="pure-form pure-form-aligned" action="/add">
  <table align="center">
      <div class="pure-control-group"><tr><th >Patient SSN id* :</th><td><input type="number" name= "patient SSN id" required/></td></tr>
      <div class="pure-control-group"><tr><th >Patient name* :</th><td><input type="text" name= "patient name"required/></td></tr>
      <div class="pure-control-group"><tr><th >Patient age* :</th><td><input type="number" name= "patient age"required/></td></tr>
      <div class="pure-control-group"><tr><th >date of admission* :</th><td><input type="Date" name= "date of admission"required/></td></tr>
      <div class="pure-control-group"><tr><th >type of bed* :</th><td><select name="type of bed" required ><option>select</option><option value="General ward">General ward</option><option value="Semi sharing">Semi sharing</option><option value="Single room">Single room</option></select></td></tr>
      <div class="pure-control-group"><tr><th >address* :</th><td><textarea rows="3" cols="30" name="address" required></textarea></td></tr>
  <div class="pure-control-group"><tr><th >state* :</th><td><input type="text" name= "state" required/></td></tr>
  <div class="pure-control-group"><tr><th >city* :</th><td><input type="text" name= "city" required/></td></tr>
  </table>
  <h4> * represents Mandatory fields </h4>
  <td > <input type="submit" value="    Submit    " href="{{ url_for('add') }}" style="background:#01090C ;color:white; border:none; border-radius:15px;padding:10px" /></td></tr>
  <td > <input type="submit" value="    Reset    " href="{{ url_for('new') }}" style="background:#01090C ;color:white; border:none; border-radius:15px;padding:10px" /></td></tr>
</form>
</body>
