<!DOCTYPE html>
   <head>
     <title>View Patients</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='edits.css') }}">
     <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
     <style>
      table,th,tr,td{
            border:solid black;
            padding: 15px;
            teat-align:center;

            }
      table{
            border
            border-spacing: 15px;
              }
      body , h1{
            background-color: skyblue;
            text-align: center;
            margin-left: 20px;
            }
      th,tr,td{
            padding: 5px;
            }
      </style>
   </head>
   <body style="text-align:center" bgcolor="skyblue">
     <h1><a style="text_align:center" href = "{{ url_for('home') }}"> Hospital Management System</h1>
     <nav>
       <ul>
       <li class="dropdown">
         <a href="javascript:void(0)" class="dropbtn">Patient</a>
         <div class="dropdown-content">
           <a href="/newpatient">Create patient</a>
           <a href="/updat">Update patient</a>
           <a href="/deletepatient">Delete patient</a>
           <a href="/searchpatient">Search patient</a>
           <a href="/viewpatient">View all patients</a>
         </div>
       </li>
       <li class="dropdown">
         <a href="javascript:void(0)" class="dropbtn">Pharmacy</a>
         <div class="dropdown-content">
           <a href="/pharmafetch">Medicines Add</a>
         </div>
       </li>
       <li class="dropdown">
         <a href="javascript:void(0)" class="dropbtn">Diagnostics</a>
         <div class="dropdown-content">
           <a href="/diagfetch">Diagnostics Add</a>
         </div>
       </li>
       <li class="dropdown">
         <a href="javascript:void(0)" class="dropbtn">Bill Payment</a>
         <div class="dropdown-content">
           <a href="/finalbill">Make bill</a>
         </div>
       </li>
       {% for i in range(24) %}
       <li class="dropdown">
         <a href="javascript:void(0)" class="dropbtn">            </a>
       </li>
     {% endfor %}
       <li class="dropdown">
         <a href="/logout" class="dropbtn"> Logout </a>
       </li>
     </ul>
     </nav>
     <h1> List of all Patients </h1>
      <table style=margin-left:auto;margin-right:auto; class="pure-table">
         <thead>
            <tr>
               <th>Patient id</th>
               <th>Patient SSN id</th>
               <th>Patient Name</th>
               <th>Patient Age</th>
               <th>Date of Admission</th>
               <th>Type of Bed</th>
               <th>Address</th>
               <th>State</th>
               <th>City</th>
               <th>Patient Status</th>
            </tr>
         </thead>

         <tbody style="text-align:center">
            {% for patient in newpatient %}
               <tr class="pure-table-odd">
                  <td>{{ patient.patient_id }}</td>
                  <td>{{ patient.patient_SSN_id }}</td>
                  <td>{{ patient.patient_name }}</td>
                  <td>{{ patient.patient_age}}</td>
                  <td>{{ patient.date_of_admission }}</td>
                  <td>{{ patient.type_of_bed }}</td>
                  <td>{{ patient.address }}</td>
                  <td>{{ patient.state }}</td>
                  <td>{{ patient.city }}</td>
                  <td>{{ patient.patient_status }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
